<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>16393244897-jektu3j130g38d6682pbsbreunqjio1q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.16393244897-jektu3j130g38d6682pbsbreunqjio1q</string>
	<key>API_KEY</key>
	<string>AIzaSyCLjaEkEnLP1W_6k8DTg_it65wLcT5IGwM</string>
	<key>GCM_SENDER_ID</key>
	<string>16393244897</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.whatsappFullStack</string>
	<key>PROJECT_ID</key>
	<string>whatsapp--backend-20555</string>
	<key>STORAGE_BUCKET</key>
	<string>whatsapp--backend-20555.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:16393244897:ios:70862e1f13641bfd92e7a0</string>
</dict>
</plist>